body {
    color:#204c71; 
    font-family: 'Arial';
}
P{
    line-height: 10,5em;
}

#titulo-principal{
    color:rgb(0, 255, 229);
    text-align: center;
    font-size: 88px;
}

.destacado{
    background-color: yellow;
    font-weight: bold;
}

.subtitulo{
    color:#555555;
    text-decoration: underline;
}

.caja-info p{
    font-style:italic;
    font-size: 0,9em;
}

a[target="_blank"]{
    background-color:green;
}

a {
    text-decoration: none;
}
